<div class="hero__image">
  <div class="hero__wrapper">
    <img class="hero__logo" src="/images/vurfc-logo.png" alt="Hero logo" />
    <h1 class="hero__title"></h1>
    <a
      href="https://anchorlink.vanderbilt.edu/organization/vurfc"
      class="hero__link"
      target="_blank"
    >
      <button class="hero__link-button">JOIN NOW</button></a
    >
  </div>
</div>

<script>
  // Changes the hero title based on the current month
  document.addEventListener("DOMContentLoaded", function () {
    const heroTitle = document.querySelector(".hero__title");
    const currentDate = new Date();
    const month = currentDate.getMonth(); // getMonth() returns 0 for January, 1 for February, etc.
    const year = currentDate.getFullYear();

    if (heroTitle) {
      if (month >= 5 && month <= 11) {
        heroTitle.textContent = year + " FALL 15'S RUGBY SEASON";
      } else if (month >= 0 && month <= 4) {
        heroTitle.textContent = year + " SPRING 7'S RUGBY SEASON";
      }
    }
  });
</script>

<style>
  .hero__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 70vh;
  }

  .hero__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images/trophy.JPG);
    background-size: cover;
    background-position: center 25%;
    filter: blur(1px);
    z-index: 1;
  }

  .hero__image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey tint */
    z-index: 2;
  }

  .hero__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding-inline: 2rem;
    padding-block: 2rem;
  }

  .hero__logo {
    position: relative;
    z-index: 3;
    width: 12rem;
    margin: 0;
    margin-top: 3rem;
  }

  @media screen and (min-width: 425px) {
    .hero__logo {
      width: 12.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    .hero__logo {
      width: 14rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .hero__logo {
      width: 16rem;
    }
  }

  @media screen and (min-width: 1440px) {
    .hero__logo {
      width: 17rem;
    }
  }

  .hero__title {
    color: inherit;
    text-align: center;
    z-index: 3;
    margin: 0;
    margin-top: 2.5rem;
  }

  .hero__link-button {
    position: relative;
    cursor: pointer;
    background: linear-gradient(45deg, var(--clr-gold), #bd9130);
    background-color: var(--clr-gold);
    padding: 10px 30px;
    border: none;
    border-radius: 40px;
    font-size: var(--fs-600);
    font-family: var(--fhdr);
    text-transform: uppercase;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    letter-spacing: 4px;
    z-index: 3;
    transition: 0.2s ease;
    background-image: var(--gradient);
    background-size: 700%;
    color: var(--clr-black);
    animation: shine 10s infinite;
  }

  .hero__link-button:hover {
    transform: scale(1.05);
  }

  .hero__link {
    position: relative;
    z-index: 3;
    padding-top: 1rem;
    margin: 0;
  }

  @keyframes shine {
    0% {
      background-position: left;
    }
    50% {
      background-position: center;
    }
    100% {
      background-position: right;
    }
  }
</style>
