<div class="roster__wrapper">
  <div class="roster__header">
    <h1 class="roster__title">Coaches</h1>
  </div>

  <div class="roster__grid">
    <div class="roster__card">
      <div class="roster__image__wrapper">
        <img
          src="/images/coaches/CoachSnell.jpeg"
          alt="Head Coach"
          class="roster__image"
        />
        <h2 class="roster__image__title">
          Head Coach <br />
          Jim Snell
        </h2>
      </div>
      <p class="roster__text">
        Head Coach Jim Snell began playing rugby in 1987 with the Vanderbilt
        University Rugby Football Club. He started as assistant coach with the
        club in 1995 and became head coach in January 2000, celebrating 25 years
        as head coach in 2025. Coach Snell has led Vanderbilt Rugby to five
        regional playoffs and five national playoffs, most recently winning the
        Southeastern Collegiate Rugby Conference DIII Championship and
        progressing to the National College Rugby payoffs. Coach Snell worked
        with other VURFC alumni in 2011 to create the Joe Franklin Fund, a rugby
        endowment to support the activities of the club.
      </p>
    </div>

    <div class="roster__card">
      <div class="roster__image__wrapper">
        <img
          src="/images/coaches/assistant-coach.jpg"
          alt="Assistant Coach"
          class="roster__image"
        />
        <h2 class="roster__image__title">
          Assistant Coach <br />
          Dan Griff
        </h2>
      </div>
      <p class="roster__text">
        Assistant Coach Dan Griff Dan has been involved in rugby, either playing
        or coaching, for 30 years. A former D1 player for the Chicago Griffins,
        he was the starting fullback during their streak of Sweet 16 and back to
        back Final 4 appearances. Most recently, he was the head coach of the
        Raptors Rugby High School team in Nashville, winning two state
        championships in both 7s and 15s, helping the program to national top 25
        rankings among high school club teams.
      </p>
    </div>
  </div>
</div>

<style>
  .roster__wrapper {
    margin-inline: auto;
    margin-block: 2rem;
    padding-inline: 2rem;
    width: 80%;
  }
  .roster__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .roster__grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 2fr));
    gap: 1.5rem;
    padding: 0;
    margin: 0;
  }

  .roster__card {
    background: var(--clr-gold);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
  }

  .roster__image {
    width: 300px;
    min-width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 4px;
    margin-right: 1.5rem;
  }

  .roster__image__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .roster__image__title {
    text-align: center;
    margin: 1rem 0;
  }

  .roster__text {
    margin: 0;
    color: var(--clr-black);
  }

  .roster__title {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .roster__card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .roster__image {
      width: 100%;
      min-width: unset;
      height: auto;
      aspect-ratio: 1;
      object-position: top;
      margin: 0;
    }

    .roster__image__wrapper {
      width: 100%;
    }
  }

  @keyframes shine {
    0% {
      background-position: left;
    }
    50% {
      background-position: center;
    }
    100% {
      background-position: right;
    }
  }
</style>
